<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gala STRI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ static_url('css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    </head>
    <body>
        <div id="body" class="container">

            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title has-text-centered">
                            Formulaire d'inscription au gala STRI de la promo 2017
                        </h1>
                    </div>
                </div>
            </section>

            <form id="formulaire" method="post" action="/register">

                {% module xsrf_form_html() %}

                <section class="section" id="identite"></section>

                <section class="section" id="accompagnateurs"></section>

                <section class="section" id="validation"></section>
            </form>
        </div>
        <script src="https://unpkg.com/react@latest/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <script type="text/babel" src="{{ static_url('register.js') }}"></script>
    </body>
</html>
